<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
    <h1>Oldfield</h1>
    	<p>The Department of Biological Sciences photograph archive.</p>
  </div>
</div>
