<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="jumbotron">
			<h1>Meta<font style="color:orange;">-data</font></h1>

			<br>
				<p>Student meta-data training system.</p>
		</div>  

  </div>
</div>  
