
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Photographers</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Photos</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.photos.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>