<% provide(:title, @user.name) %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1><%= @user.name %></h1>

    <p>
      <strong>Photographer email:</strong>
      <%= @user.email %>
    </p>

    <%= render "user_photos" %>

  </div>
</div>