@import "bootstrap";

/* links */
a {
  color: #666;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}
 
/* Flexible iFrame */

.map-container {
    position: relative;
    padding-bottom: 26.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.well{
  background-color: #111;
}